
  <%= render '/loginheader' %>


  <main>
    <%= render '/rightsideber', user: @user, books: @books %>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.png", size: '50x50' %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= link_to "Show", user_path(user.id)  %>
            <!--<a class="user_5471" href="/users/5471">Show</a>-->
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </main>

  <%= render '/footer' %>



