<%= render '/loginheader' %>

<main>
  <%= render '/rightsideber', user: @user, books: @books %>

  <div class="col-md-8 offset-md-1">
  	<h2>Book detail</h2>
  	<table class="table">
  		<tbody>
  		  <tr>
          <td>
            <%= link_to user_path(@user) do %>
              <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg'%>
            <% end %>
            </br>
            <%= link_to @user.name, user_path(@user) %>
              <!--<img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg"><br>-->
          </td>
          <td>
            <p><%= @book.title %></p>
          </td>
          <td>
            <p><%= @book.body %></p>
          </td>

          <td>

            <div id="books_favorite_<%= @book.id %>">
              <%= render 'favorites/favorite', book: @book %>
            </div>


          </td>

          <td>
            <% if @user == current_user %>
            <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %>
            <!--<a class="btn btn-sm btn-success edit_book_5759" href="/books/5759/edit">Edit</a>-->
            <% end %>
          </td>
          <td>
            <% if @user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger" %>
            <!--<a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_5759" rel="nofollow" data-method="delete" href="/books/5759">Destroy</a>-->
            <% end %>
          </td>
          <td>
            <p>コメント件数：<%= @book.book_comments.count %></p>
          </td>
        </tr>
      </tbody>
    </table>

    <% if @comment.present? %>
    <div id="error_explanation">
      <h2><%= @comment.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div id = "book_comment">
  <%= render 'book_comments/comment', book: @book, book_comment: @book_comment %>
</div>


  </div>
</main>

<%= render '/footer' %>


